{% extends "base.html" %}

{% load static %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'style2.css' %}">

    {% if user.is_authenticated and user.is_staff %}
        <p>Hej, admin!</p>
    {% endif %}

    <h2>Reserved Products</h2>
    {% if reservedProducts %}
        {% regroup reservedProducts by date as groupedReservedProducts %}
        <ul>
            {% for date_reserved_products in groupedReservedProducts %}
                <li>
                    <h3>{{ date_reserved_products.grouper }}</h3>
                    <ul>
                        {% for product in date_reserved_products.list %}
                            <li>
                                Name: {{ product.product.name }}, Category: {{ product.category }}, Size: {{ product.selected_size }}, Price: {{ product.price }}
                            </li>
                        {% endfor %}
                    </ul>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No reserved products.</p>
    {% endif %}

{% endblock %}
s