{% extends "base.html" %}

{% load static %}
{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'style2.css' %}">

    <h2 class="center">Sign up</h2>
    <div class="class2">
        <form method="POST">
            {% csrf_token %}
                {{ form.as_p }}

                <button type="submit">Sign Up</button>
        </form>
                Already Have An Account? <a href="/login">Log in</a>

    </div>
{% endblock content %}

