<!-- base.html -->
<!DOCTYPE html>
<html lang="pl">
<head>
    <!-- Meta tags and other head elements... -->
    {% load static %}
    <title class="cl1">{% block title %}Ski rental shop{% endblock title %}</title>
    <link rel="icon" href="{% static 'logo.png' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'style2.css' %}">
    {% block scripts %}{% endblock %}
</head>
<body>
    <div id="navbar" class="cl3">
        <div class="header-container">
            <header><img src="{% static 'logo4_c.png' %}" alt="Logo Strony" id="logo_img" class="logo-image"> Ski rental shop </header>
            {% if user.is_authenticated %}
                <div class="class3"> Witaj, {{ user.username }}! (<a href="{% url 'logout' %}">Wyloguj się</a>)</div>
            {% else %}
                <div class="class3">
                    <a href="{% url 'register' %}">Sign up</a>
                    <a href="{% url 'login' %}">Log in</a>
                </div>
            {% endif %}
        </div>
    </div>

    <div class="image-container">
        <img src="{% static 'skiing_img2.jpg' %}" alt="Background Image">
    </div>



    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer></footer>
</body>
</html>
